/* .navbar {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    background-color: rgb(254, 146, 107);
    width: 100%;
}

.logo {
    font-size: 3rem;
    color: rgb(160, 12, 12);
    padding: 1rem;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    text-decoration: none;
}

.NavLink {
    color: rgb(160, 12, 12);
    list-style: none;
    font-size: 20px;
}

a {
    text-decoration: none;
} */

.ResponsiveNavigation {
	display: flex;
	width: 100%;
	background-color: rgb(254, 146, 107) !important;
    color: rgb(160, 12, 12); 
}

.ResponsiveNavigationContainer {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.link {
    color: rgb(160, 12, 12);
    list-style: none;
    font-size: 20px;
    text-decoration: none;
}

.fa-cart-shopping {
	margin-right: 5px;
}
.logo {
    font-size: 3rem;
    color: rgb(160, 12, 12);
    padding: 1rem;
    text-decoration: none;
}